
<div class="global-display">

	<div class="page-header">
		<%= link_to image_tag("edit.png"), {action: 'edit', controller: 'sprints'}, class: 'action-icons' %>
	</div>	

	<div class="form-fields">
	<p class="label">Name:</p>
	<p class="disp-data"><%= @sprint.name %></p></div>

	<div class="form-fields"><p class="label">Project:</p>
	<p class="disp-data"><%= @sprint.project.try(:name) %></p></div>

	<div class="form-fields"><p class="label">Creator:</p>
	<p class="disp-data"><%= @sprint.creator.try(:name) %></p></div>

	<div class="form-fields"><p class="label">Start Date:</p>
	<p class="disp-data"><%= @sprint.start_date %></p></div>

	<div class="form-fields"><p class="label">End Date:</p>
	<p class="disp-data"><%= @sprint.end_date %></p></div>

</div>